.logo-navbar {
    width: 100%;
    max-width: 150px;
    margin-top: -10px;
}

.logo-footer {
    width: 100%;
    max-width: 250px;
}

#hero {
    padding-top: 18%;
}

#hero p {
    color: white !important;
}

.logo-beauty {
    width: 100%;
    max-width: 300px;
}

.btn-primary {
    background-color: #8c14fc;
    border: 0;
}

.btn-primary:hover {
    background-color: #461e6e;
}

.mr-sections {
    margin-top: 8rem;
}

.data-counter {
    font-size: 45px;
}

.icofont-simple-smile {
    font-size: 50px;
}

.title-white {
    color: white !important;
    position: relative;
    font-size: 32px;
    text-transform: uppercase;
}

.services .icon-box {
    padding: 0;
}

.box-text-card {
    padding: 30px;
}

.icon-box:hover {
    border: none;
    -webkit-box-shadow: 1px 1px 35px 0 rgba(70, 30, 110, .3);
    box-shadow: 1px 1px 35px 0 rgba(70, 30, 110, .3);
}

#hero h1 {
    font-size: 55px;
}

#hero h2 {
    font-family: "Satisfy", serif;
    color:white;
    text-transform: inherit;
    font-size: 40px;
}